
/* 초기화!!!! */
* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  list-style: none;
  border: 0;
}

/* 폰트설정!!! */
@font-face {
  font-family: NotoSansR;
  src: url("../font/NotoSansCJKkr-Regular.woff") format("woff");
}
@font-face {
  font-family: NotoSansB;
  src: url("../font/NotoSansCJKkr-Bold.woff") format("woff");
}
@font-face {
  font-family: NotoSansL;
  src: url("../font/NotoSansCJKkr-Light.woff") format("woff");
}
#wrap {
  display: flex;
  width: 1000px;
  height: 720px;
  margin-inline: auto;
  padding: 20px 40px;
  box-sizing: border-box;
  outline: 1px solid;
  font-size: 30px;
  font-family: NotoSansR;
  flex-direction: column;
}
.gray-text {
  color: #a6a6a6;
}
.white-text {
  color: #a6a6a6;
}
.gray-text {
  color: #a6a6a6;
}

/* BOX~~~ */
.colorBox,
.lineBox {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0 3px;
  border-radius: 14px;
  box-sizing: border-box;
}

.lineBox {
  border: 3px solid #ffd7d7;
}
.lineBox.impact {
  border-color: #f39a9a;
}
.colorBox {
  background: #ffd7d7;
}
.colorBox.impact {
  background: #f39a9a;
}

/* header!!!!!!!!!!! */
header {
  display: flex;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  padding: 11px;
  background: #f7f7f7;
  font-size: 40px;
  flex-direction: column;
  justify-content: space-between;
}

.header_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header_top .top_left {
  color: #fff;
  background: #f39a9a;
  position: relative;
  font-size: 25px;
  padding: 0 10px;
}
.header_top .top_left::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 16px;
  height: 10px;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  background: #f39a9a;
}

.header_top .top_right {
  position: relative;
  color: #f39a9a;
  font-size: 25px;
  font-family: NotoSansB;
}
.header_top .top_right::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translate(-50%,-50%);
  width: 6px;
  height: 8px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  background: #f39a9a;
}

.header_bottom {
  text-align: left;
  width: 100%;
  font-size: 36px;
}
/* ~~~~~~~~ smalTitle  */
.smalTitle {
  width: 100%;
  margin: 20px 0;
  font-size: 30px;
  font-family: NotoSansB;
}
.smalTitle .colorBox {
  padding: 2px 20px;
}

/* ~~~~~~~ contentWrap ~~~~~~~~~ */
.contentWrap {
  position: relative;
  display: flex;
  gap: 22px;
  flex: 1;
  
}

.contentWrap.on:after{
  content: '';
  position: absolute;
  width: 15px;
  height: 26px;
  top: 50%;
  left: 52.5%;
  transform: translate(0,-50%);
  background: #F39A9A;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
.contentWrap .lineBox {
  padding: 10px;
}

/* ~~~~~~~~~~~~~~~~ content_left ~~~~~~~~~~~~~~~~ */

.contentWrap .content_left {
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;

}

.contentWrap .leftList {
  display: flex;
  gap: 10px;
  height: 60px;
  margin: 0 0 10px;
}
.contentWrap .leftList .listBox {
  justify-content: space-between;
  gap: 0;
  width: 383px;
  padding: 9px 6px;
  cursor: pointer;
}

.contentWrap .leftList .listBox p:first-child {
  font-family: NotoSansB;
  font-size: 30px;
}

.contentWrap .leftList .listBox p:last-child {
  font-family: NotoSansB;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  background: #fff;
}

.contentWrap .leftList .goodButton {
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: url("../images/iconImg/goodButton.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% auto;
}
.contentWrap .leftList .goodButton.on {
  background-position: top left;

}
.slideBtnWrap {
display: flex;
margin: 0 auto;
}
.slideBtn_dotWrap{
  display: flex;
  align-items: center;
  gap: 5px;
}
.slideBtn_dotWrap > li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffd7d7;
  border: 1px solid #f39a9a;

}

.slideBtnWrap .next,
.slideBtnWrap .prev {
  width: 87px;
  height: 27px;
}
.slideBtnWrap .next {
  background: url(../images/iconImg/nextButton_off.png) center / contain no-repeat;
  }
  
.slideBtnWrap .prev {
background: url(../images/iconImg/prevButton_off.png) center / contain no-repeat;
}

/* ~~~~~~~~content_right~~~~~~~~~~` */
.contentWrap .content_right  {
  flex-direction: column;
  width: 100%;
}
.contentWrap .content_right .beginText {
  font-size: 45px;
}

.contentWrap.on .content_right .beginText {
  display: none;

}
.contentWrap .content_right .rightOnBox {
  display: none;

}
.contentWrap.on .content_right .rightOnBox {
  display: block;
  width: 100%;

}

.rightOnBox.on1 .rightImgBox{
  background-image: url(../images/listImg/2.png);
}

.rightImgBox {
  width: 100%;
  height: 240px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  border-radius: 45px;
}
