.editor {
  display: flex;
  gap: 10px;
}

.editor>input {
  flex: 1;
  padding: 15px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}

.editor>button {
  cursor: pointer;
  width: 80px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: rgb(79, 158, 255);
}