.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list>input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(178, 178, 178, 0.333);
  padding: 15px 0;
}

.list>input:focus {
  outline: none;
  border-bottom: 1px solid rgb(79, 158, 255);

}

.list > .todos_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}